p {
  min-width: 46.13px;
  color: white;
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;

  height: 30px; // Size of icon

  .left, .right {
    width: 50%;
  }

  .right {
    display: flex;
    position: absolute;
    right: 0;
    justify-content: space-evenly;
    align-items: center;
  }
}
