.container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;

  color: white;

  & > div {
    display: flex;
    flex-flow: column;
    align-items: center;

    .time {
      font-weight: 100;
    }
  }
}
