/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/fonts';

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  background: rgb(77, 112, 242);
  background: radial-gradient(
    circle,
    rgba(77, 112, 242, 1) 70%,
    rgba(53, 94, 247, 1) 100%
  );

  &.night {
    background: radial-gradient(circle, #021358 70%, #010c38 100%);
  }
}

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
