.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  background: #ffffff26;
  border-radius: 50px 50px 0 0;
  padding: 20px 20px 0 20px;

  @media (min-width: 320px) and (max-width: 360px) {
    height: 45%;
  }

  @media (max-width: 320px) {
    height: 40%;
  }
}
